{# a page with a title image #}
{% if content.field_titelbild|render %}
{{ attach_library('gcmofficial/titelbild') }}
<div id="titelbild" role="complementary">
    {{ content.field_titelbild }}
</div>
{% endif %}
<div class="aside-container">
    <!--<div class="TOC">
        {% for header in header_names %}
                <a class="btn-like" href="#header-{{ loop.index0 }}">{{ header }}</a>
        {% endfor %}
    </div>-->
    <div role="main">
        {{ content.body }}
    </div>
</div>
{{ content.field_dateien }}