{{ attach_library('gcmofficial/standort') }}
<div id="map"></div>
<noscript>
    {{ content.field_beschreibung_karte }}
</noscript>
{{ content.field_standort }}
{{ content.field_raumnummern }}
{{ content.body }}
