{{ attach_library('gcmofficial/fachbereich') }}
{{ attach_library('gcmofficial/titelbild') }}
<div id="titelbild">
    {{ content.field_titelbild }}
</div>
<div class="aside-container">
<div>{{ content.body }}</div>
<aside>
    {{ view }}
    {{ content.field_links }}
</aside>
</div>
{{ content.field_schuelerarbeiten }}
{{ content.field_bildergalerie }}
