{{ attach_library('gcmofficial/fachbereich') }}
{{ attach_library('gcmofficial/titelbild') }}
<div id="titelbild">
    {{ content.field_titelbild }}
</div>
{{ content.body }}
{{ content.field_schuelerarbeiten }}
{{ content.field_bildergalerie }}
