{% if content.field_image|render %}
{{ attach_library('gcmofficial/titelbild') }}
<div id="titelbild">
    {{ content.field_image }}
</div>
{% endif %}
<div class="article-content">
    <div class="authoring-information">
        Geschrieben von <a href="{{ path('entity.user.canonical', {'user': node.getOwnerId}) }}"><span>{{ node.getOwner.label }}</span></a> am {{ date }}
    </div>
    {{ content|without('field_image') }}
</div>
