{{ attach_library('gcmofficial/standort') }}
{# following script initiates variable used in paragraph--standort.html.twig and standortkarte.js #}
<script>
var sitesBook = [];
</script>
<div id="map" class="deactivated"></div>
<noscript>
    {{ content.field_beschreibung_karte }}
    <style>
        #map { display: none }
    </style>
</noscript>
{{ content.field_standort }}
<div id="roomnumbers">
{{ content.field_raumnummern }}
</div>
{{ content.body }}
